<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/nodeApp/public/stylesheets/style.css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="w-screen h-screen bg-gray-800 p-10">
            <h1 class="text-white text-4xl mb-10">Create User</h1>
            <form action="/create" method="post" class="block">
                <input
                    type="text"
                    class="w-1/3 px-10 py-3 bg-transparent border-2 rounded-md outline-none text-white text-left block mt-5"
                    placeholder="Enter Name" 
                    name="name"
                />
                <input
                    type="email"
                    class="w-1/3 px-10 py-3 bg-transparent border-2 rounded-md outline-none text-white text-left block mt-5"
                    placeholder="Enter Email" 
                    name="email"
                />
                <input
                    type="text"
                    class="w-1/3 px-10 py-3 bg-transparent border-2 rounded-md outline-none text-white text-left block mt-5"
                    placeholder="Enter image URL"
                    name="imageUrl"
                />
                <input
                    type="submit"
                    class="px-10 py-2 bg-rose-500 rounded-lg outline-none text-white border-none text-xl mt-5 "
                    value="Create User"
                />
            </form>
            <div class="text-purple-800 mt-10">
                <a href="/read">Show all Users</a>
            </div>
        </div>
    </body>
</html>
